:root {
  --marketing-bg: #161f49;
  --main-bg: #ffffff;
  --main-text-color: #404040;
  --accent-color: #2468ff;
  --true-mesh-color: #161f49;
  --light-color-text: #ffffff;
  --secondary-bg: #f7f7f7;
  --footer-text-color: #989898;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-height: auto;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg);
  color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
}
.button {
  width: 220px;
  height: 52px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--light-color-text);
  border: none;
}

.marketing {
  background-color: var(--marketing-bg);
  text-align: center;
}

.marketing a {
  color: var(--light-color-text);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 37px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a {
  color: var(--main-text-color);
}

.header-button {
  color: var(--light-color-text);
  background-color: var(--accent-color);
  margin-left: auto;
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/family.jpg");
  padding-top: 120px;
  padding-bottom: 271px;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--light-color-text);
  font-weight: 400;
  font-size: 72px;
  line-height: calc(80 / 72);
}

.hero-text {
  color: var(--light-color-text);
  font-size: 21px;
  line-height: calc(29 / 21);
}

.hero-button {
  padding: 16px 37px 21px;
  font-family: inherit;
  font-size: 14px;
  color: var(--light-color-text);
  background-color: transparent;
  border: 1px solid #ffffff;
}

.shop {
  text-align: center;
}

.img {
  margin: 0 auto;
}

.shop-text {
  font-size: 18px;
  line-height: calc(21 / 18);
}

.buy {
  text-decoration: underline;
  color: var(--main-text-color);
  font-style: 14px;
  line-height: calc(16 / 14);
}

.section-title {
  font-size: 50px;
  line-height: calc(60 / 50);
}

.section-text {
  width: 736px;
  margin: 0 auto;
  font-size: 18px;
  line-height: calc(25 / 18);
}

.section-button {
  background-color: var(--accent-color);
  color: var(--light-color-text);
  width: 244px;
  padding: 17px 37px 21px;
  margin-top: 78px;
  border: none;
}

.aeero {
  background-image: url(../images/aeerobg.jpg);
  padding-top: 580px;
  padding-bottom: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.aeero-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 240px;
  margin-bottom: 89px;
}

.aeero-item-pro {
  width: 400px;
}

.aeero-item-pro6 {
  width: 542px;
}

.wi-fi {
  display: inline-block;
  background: var(--main-bg);
  border-radius: 18px;
  padding: 1px 13px 1px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 17px;
}

.aeero-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.22;
  color: var(--light-color-text);
  margin-bottom: 13px;
}

.aeero-descr {
  font-size: 42px;
  line-height: 1.14;
  color: var(--light-color-text);
  margin-bottom: 20px;
}

.aeero-description {
  font-size: 18px;
  line-height: 1.4;
  color: var(--light-color-text);
  margin-bottom: 33px;
}

.aeero-price {
  font-size: 18px;
  line-height: 1.4;
  color: var(--light-color-text);
  margin-bottom: 36px;
}

.aeero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: var(--light-color-text);
  background-color: var(--accent-color);
  padding: 19px 70px;
  border: none;
  cursor: pointer;
}

.aeero-primary-button {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color-text);
  border-bottom: 1px solid var(--light-color-text);
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
}

/* quote */
.container.quote {
  padding: 205px 0;
  background-color: var(--main-text-color);
}

.quote-description {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.14;
  text-align: center;
  color: var(--light-color-text);
}

.quote-title img {
  margin: 0 auto;
}
.quote-title {
  fill: var(--light-color-text);
  text-align: center;
  margin-top: 50px;
}
/* secure */
.secure {
  background-image: url("../images/door.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 168px;
  padding-bottom: 149px;
  text-align: center;
  width: 1440px;
  height: 800px;
}
.secure-title {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: var(--light-color-text);
}
.secure-text {
  margin: 0 auto;
  margin-bottom: 118px;
  width: 734px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: var(--light-color-text);
}
.secure-icons {
  display: flex;
  justify-content: center;
  gap: 31px;
  margin-bottom: 56px;
}
/* connect */
.connect{
  padding-top: 135px;
  padding-bottom: 120px;
}
.connect-title {
  margin: 0 auto;
  margin-bottom: 44px;
  text-align: center;
  width: 782px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}
.connect-text {
  margin: 0 auto;
  margin-bottom: 78px;
  text-align: center;
  width: 707px;
  font-size: 18px;
  line-height: 1.4;
}

.truemash {
background: var(--true-mesh-color);
padding-top: 117px;
padding-bottom: 124px;
text-align: center;
}

.truemash-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: var(--light-color-text);
  margin-bottom: 44px;
}

.truemash-text {
  margin: 0 auto;
  width: 710px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: var(--light-color-text);
  margin-bottom: 38px;
}

.truemash-button {
  margin: 0 auto;
  margin-bottom: 50px;
}

.wifi {
  padding-top: 116px;
  padding-bottom: 119px;
}

.wifi-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 84px;
}

.wifi-list {
  display: flex;
  gap: 180px;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}

.wifi-item {
  width: 198px;
}

.wifi-subtitle {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.15;
  margin-bottom: 17px;
}

.wifi-text {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 26px;
}

.wifi-button {
  font-size: 14px;
    line-height: 1.15;
    font-family: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--main-text-color);
    padding-bottom: 5px;
    cursor: pointer;
}
